

h1{
    color: #6F8F72; 
    font-family: Sans-serif;
    
}


.btn-container{
    text-align: right;
}

.btn{
    width: 310px;
    margin-top: 40px;
    margin-right: 29%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6F8F72; 
    font-family: Sans-serif;
}
.Dashboard-container{
    background-color: #F3F4F4;
    text-align: center;
}
.h1-db{
    color: #1D546D;
}
table{
    border-collapse: collapse; 
    border: none; 
    margin: 20px auto;
}
th, td {
    border: 1px solid #4CAF50;   
    padding: 10px;
   
}
th{
    background-color:#4CAF50;
}
td{
    background-color: #eeeae3;
}
a {
    color: #1D546D;          
    text-decoration: none; 
  }

  a:hover {
    color: red;          
  }
  
  h3{
  color: blue;
  font-family: 'Courier New', monospace;
  }

  .Register-form , .login-form{
  width: 310px;             
  padding: 10%;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;  
  gap: 16px;
  background-color: #E8E2D8;
  margin-left: 30%;
  margin-top: 2%;

  button{
    background-color:  #6F8F72;
    width: 310px;
    border-radius: 8px;
    border: none;
    height: 30px;
  }
  button:hover {
  background-color: #1D546D;
}
}


.field, .login-field{
  
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
}

.Register-label, .login-label{
  width: 100px;
  margin-left: 20px;
}


h2{
    color: #6F8F72;
    font-family: 'Courier New', monospace;
}

.box{
    background-color: #acc0ae; 
    width: 100%; 
    height: 35px; 
   
}
